<h4>Edición de Usuario</h4>
<form [formGroup]="generoForm" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-3" for="txt-descripcion">Nombre:</label>
    <input
      id="txt-descripcion"
      type="text"
      class="form-control"
      [class.is]
      formControlName="descripcion"
    />
    <div
      *ngIf="
        generoForm.get('descripcion')?.errors &&
        generoForm.get('descripcion')?.touched
      "
    >
      <p
        class="text-danger"
        *ngIf="generoForm.get('descripcion')?.hasError('required')"
      >
        Campo requerido.
      </p>
      <p
        class="text-danger"
        *ngIf="generoForm.get('descripcion')?.hasError('maxlength')"
      >
        Máxima longitud 50 caracteres.
      </p>
    </div>
  </div>

  <div class="form-group">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="generoForm.invalid"
      (click)="guardar($event)"
    >
      Guardar
    </button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/generos']">
      Volver
    </button>
  </div>
</form>
