<h4>Edición de Color</h4>
<form [formGroup]="colorForm" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-3" for="txt-nombre">Descripción:</label>
    <input
      id="txt-nombre"
      type="text"
      class="form-control"
      [class.is]
      formControlName="nombre"
    />
    <div
      *ngIf="
        colorForm.get('nombre')?.errors && colorForm.get('nombre')?.touched
      "
    >
      <p
        class="text-danger"
        *ngIf="colorForm.get('nombre')?.hasError('required')"
      >
        Campo requerido.
      </p>
      <p
        class="text-danger"
        *ngIf="colorForm.get('nombre')?.hasError('maxlength')"
      >
        Máxima longitud 50 caracteres.
      </p>
    </div>
  </div>

  <div class="form-group">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="colorForm.invalid"
      (click)="guardar($event)"
    >
      Guardar
    </button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/generos']">
      Volver
    </button>
  </div>
</form>
